@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  @apply bg-black text-white;
}/* Chrome, Safari */
/* Hide scrollbar but keep scrolling */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}